<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://github.com/dudekmichal/dotfiles">My dotfiles</a></li>
            <li><a target="blank" href="https://github.com/dudekmichal/cv/blob/master/cv-michal-dudek.pdf">My CV</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
             <!--TODO-->
       
        </div>
            
</div>